# Copy this file to config.yml and fill-in the settngs.

# Path to a directory where YaST modules can be checked out.
yast_dir: ""

# Path to the ycpc binary to use (preferably a custom-compiled one from
# yast-core's Git repository checkout).
ycpc:     ""

# Path to the Y2R binary to use (preferably a one from Y2R's Git repository
# checkout).
y2r:      ""
